{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": 0,
    "react/no-danger": 0,
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/href-no-has": 0
  }
}